<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>2-COM's Source of Inspiration</title>
    <link rel="shortcut icon" href="../resources/favicon.ico">
    <style>
      .body-class {
        margin: 0;
        width: 100%;
        overflow: hidden;
      }
      .banner {
        width: 100%;
        height: 100%;
        overflow: none;
      }
      .awake {
        text-align: center;
        margin: 0 auto;
        position: fixed;
        top: 50px;
        left: 45%;
      }
      h1 {
        font-size: 40px;
        color: #000;
      }
    </style>
  </head>
  <body class="body-class">
    <img class="banner" src="../resources/khaled.jpg" />
    <div class="awake">
      <img src="../resources/logo.png" />
      <h1>I'm ready to deliver the  <img src="../resources/key2x.png" /> to success!</h1>
    </div>
  </body>
</html>
